* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(#2196f3 , #e91e63 );
}
.bubbles {
  position: absolute;
  bottom: -150px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.bubbles span{
  overflow: hidden;
  height: 8vh;
  width: 8vh;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  animation: move 10s linear infinite;
}
@keyframes move {
  100% {
    transform: translateY(-120vh);
  }
}
.bubbles span.bub_one {
  animation-duration: 4.5s;
  transform: scale(1);
  animation-delay: 2.5s;
}
.bubbles span.bub_two {
  animation-duration: 5s;
  transform: scale(2.5);
  animation-delay: 3.5s;
}
.bubbles span.bub_three {
  animation-duration: 8s;
  transform: scale(3);
  animation-delay: 0.5s;
}
.bubbles span.bub_four {
  animation-duration: 3s;
  transform: scale(1.5);
  animation-delay: 5.5s;
}
.bubbles span.bub_five {
  animation-duration: 10s;
  transform: scale(3.5);
  animation-delay: 2s;
}
.bubbles span.bub_six {
  animation-duration: 5s;
  transform: scale(2);
  animation-delay: 1s;
}
.bubbles span.bub_seven {
  animation-duration: 8s;
  transform: scale(3);
  animation-delay: 4.2s;
}
.bubbles span.bub_eight {
  animation-duration: 7s;
  transform: scale(1.75);
  animation-delay: 3s;
}
.bubbles span:before{
  content: "";
  position:absolute;
  height: 8vh;
  width: 40%;
  top: 0;
  left: 0;
  transform: skew(45deg) translate(150px);
  background: rgba(255, 255, 255, 0.15);
  animation: glow 2.5s linear infinite;
}
@keyframes glow {
  100% {
    transform: translateX(-500px);
  }
}
.bubbles span.bub_one:before {
  animation-delay: 1s;
}
.bubbles span.bub_two:before {
  animation-delay: 2s;
}
.bubbles span.bub_three:before {
  animation-delay: 2.25s;
}
.bubbles span.bub_four:before {
  animation-delay: 1s;
}
.bubbles span.bub_five:before {
  animation-delay: 3s;
}
.bubbles span.bub_six:before {
  animation-delay: 1.2s;
}
.bubbles span.bub_seven:before {
  animation-delay: 0.5s;
}
.bubbles span.bub_seven:before {
  animation-delay: 1.5s;
}
.container{
  z-index: 1;
  padding: 1.5%;
  border-radius: 13px;
  width: 25%;
  backdrop-filter : blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}
.container input[type="text"] {
  width: 100%;
  height: 100px;
  text-align: right;
  color: #fff;
  outline: none;
  background: transparent;
  margin: 0 3px;
  border: none;
  padding: 10px;
  font-size: 20px;
}
.container input[type="button"] {
  height: 8vh;
  outline: none;
  border : none;
  border-radius: 13px;
  margin-top: 15px;
  font-size: 20px;
  width : calc(100% / 4 - 5px);
  color: #fff;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container input[type="button"]:hover  {
  background : rgba(255, 255, 255, 0.1);
}
@media (max-width: 1024px) {
  .container {
    width: 75%;
  }
  .container input[type="button"] {
    height: 10vh;
  }
}
